%concertina {
	[name='concertina'] {
		position: absolute;
		transform: translateX(-1000%);

		&:not(:checked) {
			&~%concertina-target, &~*>%concertina-target, &~*>*>%concertina-target {
				display: none;
			}
		}

		&:checked~* {
			@extend %concertina-active;
		}
	}
}