%toggle {
	position: absolute;
	transform: translateX(-200vw);

	&.toggle-only-break-s~label {
		@media(min-width: $break-s) {
			display: none;
		}
	}
	&.toggle-only-break-m~label {
		@media(min-width: $break-m) {
			display: none;
		}
	}
	&.toggle-only-break-l~label {
		@media(min-width: $break-l) {
			display: none;
		}
	}
	&.toggle-only-break-xl~label {
		@media(min-width: $break-xl) {
			display: none;
		}
	}

	~.toggle-control {
		&::after {
			content: attr(data-toggle-control-inactive);
		}
	}

	&:not(:checked)~.toggle-target {
		&.toggle-target-only-break-s {
			@media(max-width: $break-s) {
				display: none;
			}
		}

		&.toggle-target-only-break-m {
			@media(max-width: $break-m) {
				display: none;
			}
		}

		&.toggle-target-only-break-l {
			@media(max-width: $break-l) {
				display: none;
			}
		}

		&.toggle-target-only-break-xl {
			@media(max-width: $break-xl) {
				display: none;
			}
		}
	}

	&:checked {
		~.toggle-control {
			position: relative;
			z-index: 1;

			&::after {
				content: attr(data-toggle-control-active);
			}
		}

		~.toggle-overlay {
			&::before {
				content: "";
				position: fixed;
				z-index: -1;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(white, 0.75);
			}
		}

		~.toggle-target {
			z-index: 1;
		}
	}
}