$palette-1: #00a7e6;
$palette-2: #814F9B;
$palette-3: #E94647;
$palette-4: #E29230;
$palette-5: #ACCB46;
$palette-6: #FFE033;

$palette-1-light: #C0E4F7;
$palette-1-dark: #034B67;

$palette-panel-light: #F0F4F4;
$palette-panel-dark: #3D3D44;

$palette-text: #034B67;
$palette-text-alt: #F0F4F4