._hero {
	@mixin design-bar($width: 5rem, $margin-left: 0, $margin-right: $size-s) {
		content: "";
		display: inline-block;
		width: $width;
		height: $size-s;
		margin-left: $margin-left;
		margin-right: $margin-right;
		background: $palette-1;
	}

	@extend %padding-m, %padding-horizontal;
	margin-bottom: $size-xl;

	>div {
		@extend %gutter;
		position: relative;

		&:first-of-type {
			padding-top: $size-xl;
			display: flex;
			flex-direction: column;
			max-width: $break-l;

			@media(min-width: $break-xl) {
				flex-direction: row;
				align-items: center;
			}
		}
	}

	h1 {
		font-size: $font-size-xl;
		min-width: 28rem;

		@media(min-width: $break-m) {
			$font-size: 2.5rem;
		}

		>span {
			display: block;

			&:nth-of-type(2)::before {
				@include design-bar();
			}
			&:nth-of-type(3)::after {
				@include design-bar(7rem, $size-s, 0);
			}
		}
	}

	iframe {
		width: 100%;
		height: 75vw;
		border: none;
		margin-bottom: $size-s;

		@media(min-width: $break-m) {
			width: 30rem;
			height: 22.5rem;
		}

		@media(min-width: $break-xl) {
			margin-left: 0;
			width: 28rem;
			height: 21rem;
		}
	}

	a {
		@extend button;
		display: inline-block;

		@media(min-width: $break-xl) {
			position: relative;
			top: -2.75rem;
		}
	}
}