._intro-features {
	@extend %padding-m, %padding-horizontal;
	position: relative;
	margin-bottom: $size-xl;

	>ul {
		@extend %concertina, %gutter;
		padding-top: $size-l + $size-s;

		> li {
			@media(min-width: $break-xl) {
				position: relative;
			}

			> label {
				display: flex;
				align-items: center;

				@media(min-width: $break-m) {
					display: inline-flex;
				}

				> svg {
					width: $size-l;
					height: $size-l;
					cursor: pointer;

					position: absolute;
					top: 0;

					@media(min-width: $break-m) {
						position: initial;
						margin-right: $size-m;
					}

					> circle {
						stroke: #F4F4F4;
						stroke-width: 16;
						fill: none;
					}
				}

				&%concertina-active > svg > circle:last-of-type {
					stroke: $palette-1;

				}

				> h1 {
					@extend %concertina-target;
					font-size: $font-size-l;
					cursor: pointer;

					@media(min-width: $break-m) {
						display: block !important;
					}
				}
			}

			> div {
				@extend %concertina-target;

				@media(min-width: $break-xl) {
					display: flex;
				}

				> p {
					@extend %reading-column-s;

					@media(min-width: $break-xl) {
						flex-grow: 1;
						min-width: $break-s;
					}
				}

				> div {
					position: relative;
					//width: 100vw;
					height: 75vw;
					max-width: $break-s;
					max-height: 26rem;

					@media(min-width: $break-xl) {
						height: auto;
					}

					> iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border: none;

						@media(min-width: $break-xl) {
							width: ($break-s * 0.75);
							height: ($break-s * 0.75) / 1.33;
						}
					}
				}
			}

			@for $i from 0 through 5 {
				&:nth-of-type(#{$i}) {
					> label > svg {
						margin-left: (($i - 1) * ($size-l + $size-m));

						@media(min-width: $break-m) {
							margin-left: initial;
						}
					}

					iframe {
						@media(min-width: $break-xl) {
							margin-top: -(($size-l * $i) + ($i / 4));
						}
					}
				}
			}
		}
	}
}