._site-nav {
	@extend %margin-m;

	>input {
		@extend %toggle, %toggle-only-break-m;
	}

	>label {
		@extend button, %toggle-control, %toggle-overlay;
	}

	>ul {
		@extend %toggle-target, %toggle-target-only-break-m;
		position: absolute;
		right: 0;
		background: $palette-panel-light;
		border: 1px solid $palette-1-dark;

		@media(min-width: $break-m) {
			display: flex;
			background: transparent;
			border: none;
		}

		>li {
			border-bottom: 1px solid rgba($palette-1-dark, 0.2);

			@media(min-width: $break-m) {
				border: none;
			}

			&:last-of-type {
				border-bottom: none;
			}

			>a {
				display: block;
				padding: $size-s $size-m;
				text-decoration: none;
				color: $palette-1-dark;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}