._sticky-logo {
	$logo-size: 3rem;
	@mixin logo-bg() {
		background-image: url(/asset/image/logo.svg);
		background-size: auto $logo-size;
		background-repeat: no-repeat;
		background-position-y: 50%;
	}

	position: relative;
	height: $logo-size;

	>a {
		@extend %padding-s;
		@include logo-bg();
		display: block;
		height: 100%;
		margin-left: ($logo-size + $size-s);
		background-position-x: -($logo-size);
		text-decoration: none;
		color: transparent;

		&::before {
			@include logo-bg();
			display: block;
			position: absolute;
			top: $size-s;
			left: $size-s;
			content: "";
			width: $logo-size;
			height: $logo-size;

			@media(min-width: $break-m) {
				position: fixed;
			}
		}

		>span {
			@extend %padding-xs, %padding-horizontal;
			display: block;
			line-height: $logo-size;
			font-size: 1.25rem;
		}
	}
}